/*===========================================================================*/
/*  Grid
/*===========================================================================*/
.row {
    width: 100%;
    padding:0;
    margin:0;
}

.row .column {
    margin:0;
    float: left;
}

.grid-1,.grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, 
.grid-8, .grid-9, .grid-10,.grid-11,.grid-12 {
    float:left;
    margin:0;
}

.row .row {
    width:100%;
    margin:0;
    overflow:hidden;
    float:left;
}

.row .center {
    float:none;
    margin:0 auto;
}

.grid-1 { width: 8.33333%; }
.grid-2 { width: 16.66667%; }
.grid-3 { width: 25%; }
.grid-4 { width: 33.33333%; }
.grid-5 { width: 41.66667%; }
.grid-6 { width: 49.99999%; }
.grid-7 { width: 58.33333%; }
.grid-8 { width: 66.66667%; }
.grid-9 { width: 75%; }
.grid-10 { width: 83.33333%; }
.grid-11 { width: 91.66667%; }
.grid-12 { width: 100%; }

/*===========================================================================*/
/*                                  MEDIAQUERIES                             */
/*===========================================================================*/
/* Xlarge
/*===========================================================================*/
@media only screen and (min-width:1200px) {

}

/*===========================================================================*/
/* Large
/*===========================================================================*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
    
    .row .split-2, .medium-split-2 { width: 50%; }
    .row .split-3, .medium-split-3 { width: 33.33333%; }
    .row .split-4, .medium-split-4 { width: 25%; }
    
    .row .medium-split-2 { width: 50%; }
    .row .medium-split-3 { width: 33.33333%; }
    .row .medium-split-4 { width: 25%; }
}

/*===========================================================================*/
/*  Medium
/*===========================================================================*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .row {
        display:inline;
    }
    
    .row .column {
        width:50%;
    }
    
    .row .column.center {
        padding-right:0;
    }
}

/*===========================================================================*/
/*  small
/*===========================================================================*/
@media only screen and (max-width: 767px) {
    .row {
        display:inline;
    }
    
    .row .column {
        width:100%;
    }
    
    .row .column.center {
        padding-right:0;
    }
    
    .row .split-2 { width: 50%; }
    .row .split-3 { width: 33.33333%; }
    .row .split-4 { width: 25%; }
    
    .row .small-split-2 { width: 50%; }
    .row .small-split-3 { width: 33.33333%; }
    .row .small-split-4 { width: 25%; }
}

.clear {
    clear:both;
}

/* Nicolas Gallagher's micro clearfix */
.row:before, .row:after, .clearfix:before, .clearfix:after { content:""; display:table; }
.row:after, .clearfix:after { clear: both; }
.row, .clearfix { zoom: 1; }


/*===========================================================================*/
/*  Forms
/*===========================================================================*/
.form {
    overflow:hidden;
}

.column input {
    margin-bottom:15px;
    padding:8px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); 
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); 
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    border:1px solid #ccc;
    font-size:14px;
}

.form input[type=text]:focus {
    background:#efefef;
}

.form label {
    display:block;
    cursor:pointer;
}

.form span.prefix, .form span.postfix {
    display:block;
    text-align:center;
    line-height:32px;
    background:#eee;
    border:1px solid #ccc;
    border-right:none;
    color:#555;
    height:34px;
    overflow:hidden;
    font-size:14px;
    margin:0;
}

.form .row {
    margin-bottom:10px;
}

.form button.postfix,.form button.prefix {
    line-height:32px;
    overflow:hidden;
    font-size:14px;
    height:34px;
    padding:0;
}

.form span.postfix {
    border:1px solid #ccc;
    border-left:none;
}

.form label span.small {
    display:block;
    margin:0;
    padding:0;
    font-size:10px;
    color:#888;
    margin-bottom:2px;
}

.form ul.list {
    list-style:none;
}

.form ul.list li {
    display:block;
    width:100%;
}

.form ul.list li input, .form ul.list li label {
    display:block;
    float:left;
}

.form ul.list li input {
    margin-top:4px;
    margin-right:10px;
    display:block;
    padding:0;
    border:0;
}

.form ul.list li, .form ul.list li label {
    width:100%;
    margin:0;
}
/*===========================================================================*/
/*                                  Misc Styles                              */
/*===========================================================================*/
/*  Videos 
/*===========================================================================*/
.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video iframe,  
.video object,  
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*===========================================================================*/
/* Images 
/*===========================================================================*/
img {
    max-width: 100%;
    height: auto;
}

@media \0screen {
    img { 
        width: auto; /* for ie 8 */
    }
}

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
