/*===========================================================================*/
/*  Buttons
/*===========================================================================*/

@btn-gray : #E8E8E8;
@btn-green : #2ecc71;
@btn-red  : #e74c3c;
@btn-blue : #55acee;
@btn-orange : #e67e22;
@btn-default : @btn-gray;

.button {
    cursor: pointer;
    display: inline-block;
    position: relative;
    outline: none;
    border: none;
    vertical-align: baseline;
    text-transform: none;
    text-shadow: none;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    background-image: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background-color: @btn-default;
    color: #555;
    font-size: 14px;
    margin: 2px;
    padding: 11px 25px 9px;
    height: 42px;
    line-height: 20px;

    &.rounded { 
        .rounded(5px); 
    }

    /*default*/
    &:hover {
        background-color: darken(@btn-default, 20%);
        .transition(300ms, linear);
    }

    &.green , &.blue, &.red, &.orange {
        color: #fff;
    }

    &.blue {
        background-color: @btn-blue;
        &:hover {
            background-color: darken(@btn-blue, 20%);
        }
    }

    &.green {
        background-color: @btn-green;
        &:hover {
            background-color: darken(@btn-green, 20%);
        }
    }

    &.red {
        background-color: @btn-red;
        &:hover {
            background-color: darken(@btn-red, 20%);
        }
    }

    &.orange {
        background-color: @btn-orange;
        &:hover {
            background-color: darken(@btn-orange, 10%);
        }
    }

    
    &.large {
        font-weight: 700;
        padding: 19px 40px 19px;
        font-size: 18px;
        height: 60px;
        line-height: 22px;
    }

    &.small {
        height: 32px;
        font-weight: normal;   
        padding: 9px 12px 7px;
        font-size: 12px;
        line-height: 16px;
    }
}

/* Buttons with icons */
.button.with.icon {
    position: relative;
    vertical-align: bottom;

    &.right {

        text-indent: 0 !important;
        padding-right: 50px;
        padding-left: 15px;

        span {
            padding: 0;
            right: 15px;
            text-indent: 0 !important;
            text-align: right;
            position: absolute;
            border: none;
        }

        &.small {
            padding-right: 44px;
            padding-left: 15px;
            span {
                right: 3px;
            }
        }

        &.large {
            padding-right: 80px;
            padding-left: 20px;
            span {
                right: 20px;
            }
        }
    }

    text-indent: 37px;
    span {
        text-indent: 0;
        top: 0;
        left: 0;
        height: 100%;
        display: block;
        position: absolute;
        font-size: 22px;
        padding: 0 14px;
        line-height: 50px;
        font-family: arial, sans-serif !important;

        &.green    { background: @btn-green; }
        &.blue     { background: @btn-blue; }
        &.red      { background: @btn-red; }
        &.orange   { background: @btn-orange; }
        &.green, &.blue, &.red, &.orange { color : #fff; }
        &.separate { border-right: 1px solid #ececec; }

        &.gray {
            background: @btn-gray;
            color: #222;
        }
    }

    &.large {
        text-indent: 55px;
        padding-right: 35px;
        padding-left: 35px;

        span {
            line-height: 72px;
            font-size: 40px;
        }
    }

    &.small {
        min-width: 40px;
        text-indent: 35px;
        padding-right: 12px;
        padding-left: 12px;

        span {
            line-height: 38px;
            font-size: 20px;
            padding: 0 10px;
        }
    }


    &.only {
        text-indent: 0;
    }
}
